parameters:
  level: 9
  paths:
    - application/controllers
    - application/models
    - application/repositories
  scanDirectories:
    - application/core
    - system
  excludePaths:
    analyse:
      - application/controllers/Welcome.php